<div class="container">
  <div class="mx-auto my-5">
    <h3 class="text-center mb-3">@<%= current_user.name %></h3>
    <div class="text-center">
      <% if current_user.image.present? %>
        <%= image_tag current_user.image.to_s, size: '150x150' %>
      <% else %>
        <img  src="http://placehold.it/150x150" alt="" width=150 height=150>
      <% end %>
    </div>
  <br/>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field mt-3">
      <%= f.label "ユーザー名" %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-control" %>
    </div>
    <div class="field mt-3">
      <%= f.label "メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <div class="field mt-3">
      <%= f.label "新しいパスワード" %> <i>(変更しない場合は空欄)</i><br />
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "※最低#{@minimum_password_length}文字", class:"form-control" %>
    </div>
    <div class="field mt-3">
      <%= f.label "確認パスワード" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
    </div>
    <div class="field mt-5">
      <%= f.label "現在のパスワード" %> <i>(更新するには現在のパスワードを入力)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
    </div>
    <div class="form-group mt-3">
        <%= f.label "プロフィール画像" %>
        <%= f.file_field :image, class: "btn btn-default btn-file" %>
    </div>
    <div class="actions text-center mb-3">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>